html, body {
    background-color: #ffabcd;
    padding-bottom: 0.2rem;
    overflow: hidden;
}

.App {
    margin: 0 auto;
    text-align: center;
  background-color: #ffabcd;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    position: relative;
    padding: 0.1rem;
}

.App-header .text {
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
    color: #f8285e;
    font-size: 0.16rem;
    line-height: 0.2rem;
    text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chess {
    position: relative;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 362px;
    margin:  0 auto;
    padding: 0px;
    /* border-bottom: 0.01rem solid #ff88aa; */
    /* border-right: 0.01rem solid #ff88aa; */
    /* box-shadow: 0.06rem 0.06rem 0 #ff88aa,-0.06rem -0.06rem 0 #ff88aa,0.06rem -0.06rem 0 #ff88aa,-0.06rem 0.06rem 0 0 #ff88aa, -1px -1px 1px #f8285e inset; */
    border-radius: 2px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}

@media screen and (max-width: 340px) {
    .chess {
        left: 10px;
        width: 302px;
    }
}



.btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 0.2rem;
}

.btn {
    flex: 0 0 1rem;
    width: 1rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.16rem;
    color: red;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px #f8285e;
}